apiVersion: v1
kind: PersistentVolume
metadata:
  name: acctest-pipeline-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: azurefile-csi
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=0
    - gid=0
    - mfsymlinks
    - cache=strict
    - nosharesock
  csi:
    driver: file.csi.azure.com
    readOnly: false
    volumeHandle: "${resource_group}#${storage_account}#${storage_share}"
    volumeAttributes:
      secretName: azure-file-secret
      secretNamespace: "${pipeline_namespace}"
      shareName: "${storage_share}"
    nodeStageSecretRef:
      name: azure-file-secret
      namespace: "${pipeline_namespace}"