
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li>
              <a href="#">Azure Providers</a>
              <ul class="nav nav-visible">
                <li>
                   <a href="/docs/providers/azuread/index.html">Azure Active Directory</a>
                </li>
                <li>
                   <a href="/docs/providers/azurerm/index.html">Azure</a>
                </li>
                <li>
                   <a href="/docs/providers/azurestack/index.html">Azure Stack</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Guides</a>
              <ul class="nav nav-visible">
                <li>
                   <a href="/docs/providers/azurerm/guides/2.0-upgrade-guide.html">Azure Provider 2.0 Upgrade Guide</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/auth/azure_cli.html">Authenticating using the Azure CLI</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/auth/managed_service_identity.html">Authenticating using Managed Service Identity</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/auth/service_principal_client_certificate.html">Authenticating using a Service Principal with a Client Certificate</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/auth/service_principal_client_secret.html">Authenticating using a Service Principal with a Client Secret</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Data Sources</a>
              <ul class="nav">
                <li>
                    <a href="/docs/providers/azurerm/d/api_management.html">azurerm_api_management</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/api_management_api.html">azurerm_api_management_api</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/api_management_group.html">azurerm_api_management_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/api_management_product.html">azurerm_api_management_product</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/api_management_user.html">azurerm_api_management_user</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/application_security_group.html">azurerm_application_security_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/app_service.html">azurerm_app_service</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/app_service_plan.html">azurerm_app_service_plan</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/application_insights.html">azurerm_application_insights</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/automation_variable_bool.html">azurerm_automation_variable_bool</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/automation_variable_datetime.html">azurerm_automation_variable_datetime</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/automation_variable_int.html">azurerm_automation_variable_int</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/automation_variable_string.html">azurerm_automation_variable_string</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/availability_set.html">azurerm_availability_set</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/azuread_application.html">azurerm_azuread_application</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/azuread_service_principal.html">azurerm_azuread_service_principal</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/batch_account.html">azurerm_batch_account</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/batch_certificate.html">azurerm_batch_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/batch_pool.html">azurerm_batch_pool</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/builtin_role_definition.html">azurerm_builtin_role_definition</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/cdn_profile.html">azurerm_cdn_profile</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/client_config.html">azurerm_client_config</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/container_registry.html">azurerm_container_registry</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/cosmosdb_account.html">azurerm_cosmosdb_account</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/dns_zone.html">azurerm_dns_zone</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/data_lake_store.html">azurerm_data_lake_store</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/dev_test_lab.html">azurerm_dev_test_lab</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/firewall.html">azurerm_firewall</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/hdinsight_cluster.html">azurerm_hdinsight_cluster</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/image.html">azurerm_image</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/key_vault.html">azurerm_key_vault</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/key_vault_access_policy.html">azurerm_key_vault_access_policy</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/key_vault_key.html">azurerm_key_vault_key</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/key_vault_secret.html">azurerm_key_vault_secret</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/kubernetes_cluster.html">azurerm_kubernetes_cluster</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/kubernetes_service_versions.html">azurerm_kubernetes_service_versions</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/loadbalancer.html">azurerm_lb</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/log_analytics_workspace.html">azurerm_log_analytics_workspace</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/logic_app_workflow.html">azurerm_logic_app_workflow</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/management_group.html">azurerm_management_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/r/maps_account.html">azurerm_maps_account</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/monitor_action_group.html">azurerm_monitor_action_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/monitor_diagnostic_categories.html">azurerm_monitor_diagnostic_categories</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/d/monitor_log_profile.html">azurerm_monitor_log_profile</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/mssql_elasticpool.html">azurerm_mssql_elasticpool</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/network_interface.html">azurerm_network_interface</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/network_watcher.html">azurerm_network_watcher</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/notification_hub_namespace.html">azurerm_notification_hub_namespace</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/platform_image.html">azurerm_platform_image</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/policy_definition.html">azurerm_policy_definition</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/public_ip.html">azurerm_public_ip</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/public_ips.html">azurerm_public_ips</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/recovery_services_vault.html">azurerm_recovery_services_vault</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/recovery_services_protection_policy_vm.html">azurerm_recovery_services_protection_policy_vm</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/resource_group.html">azurerm_resource_group</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/role_definition.html">azurerm_role_definition</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/route_table.html">azurerm_route_table</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/scheduler_job_collection.html">azurerm_scheduler_job_collection</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/shared_image.html">azurerm_shared_image</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/shared_image_gallery.html">azurerm_shared_image_gallery</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/shared_image_version.html">azurerm_shared_image_version</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/sql_server.html">azurerm_sql_server</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/stream_analytics_job.html">azurerm_stream_analytics_job</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/storage_account.html">azurerm_storage_account</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/storage_account_sas.html">azurerm_storage_account_sas</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/subnet.html">azurerm_subnet</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/subscription.html">azurerm_subscription</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/subscriptions.html">azurerm_subscriptions</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/traffic_manager_geographical_location.html">azurerm_traffic_manager_geographical_location</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/user_assigned_identity.html">azurerm_user_assigned_identity</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/d/virtual_network_gateway.html">azurerm_virtual_network_gateway</a>
                </li>

				<li<%= sidebar_current("docs-azurerm-datasource-virtual-network-gateway-connection") %>>
					<a href="/docs/providers/azurerm/d/virtual_network_gateway_connection.html">azurerm_virtual_network_gateway_connection</a>
				</li>
              </ul>
            </li>

            <li>
              <a href="#">Base Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/resource_group.html">azurerm_resource_group</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Analysis Services Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/analysis_services_server.html">azurerm_analysis_services_server</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">API Management Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/api_management.html">azurerm_api_management</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api.html">azurerm_api_management_api</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api_operation.html">azurerm_api_management_api_operation</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api_operation_policy.html">azurerm_api_management_api_operation_policy</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api_policy.html">azurerm_api_management_api_policy</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api_schema.html">azurerm_api_management_api_schema</a>
                </li>
		      
		<li>
                  <a href="/docs/providers/azurerm/r/api_management_subscription.html">azurerm_api_management_subscription</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_api_version_set.html">azurerm_api_management_version_set</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_authorization_server.html">azurerm_api_management_authorization_server</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_backend.html">azurerm_api_management_backend</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_certificate.html">azurerm_api_management_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_group.html">azurerm_api_management_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_group_user.html">azurerm_api_management_group_user</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_logger.html">azurerm_api_management_logger</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_openid_connect_provider.html">azurerm_api_management_openid_connect_provider</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_product.html">azurerm_api_management_product</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_product_api.html">azurerm_api_management_product_api</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_product_group.html">azurerm_api_management_product_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/api_management_product_policy.html">azurerm_api_management_product_policy</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/r/api_management_property.html">azurerm_api_management_property</a>
                </li>

                <li>
                    <a href="/docs/providers/azurerm/r/api_management_user.html">azurerm_api_management_user</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">App Service (Web Apps) Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/app_service.html">azurerm_app_service</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/app_service_active_slot.html">azurerm_app_service_active_slot</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/app_service_certificate.html">azurerm_app_service_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/app_service_custom_hostname_binding.html">azurerm_app_service_custom_hostname_binding</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/app_service_plan.html">azurerm_app_service_plan</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/app_service_slot.html">azurerm_app_service_slot</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/function_app.html">azurerm_function_app</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Application Insights Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/application_insights.html">azurerm_application_insights</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/application_insights_api_key.html">azurerm_application_insights_api_key</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/application_insights_web_tests.html">azurerm_application_insights_web_test</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Authorization Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/role_assignment.html">azurerm_role_assignment</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/role_definition.html">azurerm_role_definition</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/user_assigned_identity.html">azurerm_user_assigned_identity</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Automation Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/automation_account.html">azurerm_automation_account</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_credential.html">azurerm_automation_credential</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_dsc_configuration.html">azurerm_automation_dsc_configuration</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_dsc_nodeconfiguration.html">azurerm_automation_dsc_nodeconfiguration</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_module.html">azurerm_automation_module</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_runbook.html">azurerm_automation_runbook</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_schedule.html">azurerm_automation_schedule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_variable_bool.html">azurerm_automation_variable_bool</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_variable_datetime.html">azurerm_automation_variable_datetime</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_variable_int.html">azurerm_automation_variable_int</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/automation_variable_string.html">azurerm_automation_variable_string</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Azure Active Directory Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/azuread_application.html">azurerm_azuread_application</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/azuread_service_principal.html">azurerm_azuread_service_principal</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/azuread_service_principal_password.html">azurerm_azuread_service_principal_password</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Batch Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/batch_account.html">azurerm_batch_account</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/batch_application.html">azurerm_batch_application</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/batch_certificate.html">azurerm_batch_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/batch_pool.html">azurerm_batch_pool</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">CDN Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/cdn_endpoint.html">azurerm_cdn_endpoint</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/cdn_profile.html">azurerm_cdn_profile</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Cognitive Services Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/cognitive_account.html">azurerm_cognitive_account</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Compute Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/availability_set.html">azurerm_availability_set</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/image.html">azurerm_image</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/snapshot.html">azurerm_snapshot</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/shared_image.html">azurerm_shared_image</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/shared_image_gallery.html">azurerm_shared_image_gallery</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/shared_image_version.html">azurerm_shared_image_version</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_machine_data_disk_attachment.html">azurerm_virtual_machine_data_disk_attachment</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_machine_extension.html">azurerm_virtual_machine_extension</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_machine_scale_set.html">azurerm_virtual_machine_scale_set</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Container Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/container_group.html">azurerm_container_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/container_registry.html">azurerm_container_registry</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/container_registry_webhook.html">azurerm_container_registry_webhook</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/container_service.html">azurerm_container_service</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/kubernetes_cluster.html">azurerm_kubernetes_cluster</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">CosmosDB (DocumentDB) Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_account.html">azurerm_cosmosdb_account</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_cassandra_keyspace.html">azurerm_cosmosdb_cassandra_keyspace</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_mongo_collection.html">azurerm_cosmosdb_mongo_collection</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_mongo_database.html">azurerm_cosmosdb_mongo_database</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_sql_container.html">azurerm_cosmosdb_sql_container</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_sql_database.html">azurerm_cosmosdb_sql_database</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/cosmosdb_table.html">azurerm_cosmosdb_table</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Database Resources</a>
              <ul class="nav">

                <li>
                  <a href="/docs/providers/azurerm/r/mariadb_database.html">azurerm_mariadb_database</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mariadb_firewall_rule.html">azurerm_mariadb_firewall_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mariadb_server.html">azurerm_mariadb_server</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mysql_configuration.html">azurerm_mysql_configuration</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mysql_database.html">azurerm_mysql_database</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mysql_firewall_rule.html">azurerm_mysql_firewall_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mysql_server.html">azurerm_mysql_server</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mysql_virtual_network_rule.html">azurerm_mysql_virtual_network_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/postgresql_configuration.html">azurerm_postgresql_configuration</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/postgresql_database.html">azurerm_postgresql_database</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/postgresql_firewall_rule.html">azurerm_postgresql_firewall_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/postgresql_server.html">azurerm_postgresql_server</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/postgresql_virtual_network_rule.html">azurerm_postgresql_virtual_network_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_database.html">azurerm_sql_database</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_active_directory_administrator.html">azurerm_sql_active_directory_administrator</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_elasticpool.html">azurerm_sql_elasticpool</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/mssql_elasticpool.html">azurerm_mssql_elasticpool</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_failover_group.html">azurerm_sql_failover_group</a>
                </li>
                
                <li>
                  <a href="/docs/providers/azurerm/r/sql_firewall_rule.html">azurerm_sql_firewall_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_server.html">azurerm_sql_server</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/sql_virtual_network_rule.html">azurerm_sql_virtual_network_rule</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Databricks Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/databricks_workspace.html">azurerm_databricks_workspace</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Data Factory Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/data_factory.html">azurerm_data_factory</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_mysql.html">azurerm_data_factory_dataset_mysql</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_postgresql.html">azurerm_data_factory_dataset_postgresql</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_sql_server_table.html">azurerm_data_factory_dataset_sql_server_table</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_pipeline.html">azurerm_data_factory_pipeline</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_data_lake_storage_gen2.html">azurerm_data_factory_linked_service_data_lake_storage_gen2</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_mysql.html">azurerm_data_factory_linked_service_mysql</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_postgresql.html">azurerm_data_factory_linked_service_postgresql</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_sql_server.html">azurerm_data_factory_linked_service_sql_server</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Data Lake Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/data_lake_analytics_account.html">azurerm_data_lake_analytics_account</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_lake_analytics_firewall_rule.html">azurerm_data_lake_analytics_firewall_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_lake_store.html">azurerm_data_lake_store</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/data_lake_store_firewall_rule.html">azurerm_data_lake_store_firewall_rule</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">DevSpace Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/devspace_controller.html">azurerm_devspace_controller</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Dev Test Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/dev_test_lab.html">azurerm_dev_test_lab</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/dev_test_linux_virtual_machine.html">azurerm_dev_test_linux_virtual_machine</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/dev_test_policy.html">azurerm_dev_test_policy</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/dev_test_virtual_network.html">azurerm_dev_test_virtual_network</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/dev_test_windows_virtual_machine.html">azurerm_dev_test_windows_virtual_machine</a>
                </li>
              </ul>
            </li>

            <li>
                <a href="#">DNS Resources</a>
                <ul class="nav">
                  <li>
                    <a href="/docs/providers/azurerm/r/dns_a_record.html">azurerm_dns_a_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_aaaa_record.html">azurerm_dns_aaaa_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_caa_record.html">azurerm_dns_caa_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_cname_record.html">azurerm_dns_cname_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_mx_record.html">azurerm_dns_mx_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_ns_record.html">azurerm_dns_ns_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_ptr_record.html">azurerm_dns_ptr_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_srv_record.html">azurerm_dns_srv_record</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/dns_txt_record.html">azurerm_dns_txt_record</a>
                  </li>

                  <li>
                      <a href="/docs/providers/azurerm/r/dns_zone.html">azurerm_dns_zone</a>
                  </li>
                </ul>
            </li>

            <li>
              <a href="#">HDInsight Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_hadoop_cluster.html">azurerm_hdinsight_hadoop_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_hbase_cluster.html">azurerm_hdinsight_hbase_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_kafka_cluster.html">azurerm_hdinsight_kafka_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_interactive_query_cluster.html">azurerm_hdinsight_interactive_query_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_ml_services_cluster.html">azurerm_hdinsight_ml_services_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_rserver_cluster.html">azurerm_hdinsight_rserver_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_spark_cluster.html">azurerm_hdinsight_spark_cluster</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/hdinsight_storm_cluster.html">azurerm_hdinsight_storm_cluster</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Key Vault Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/key_vault.html">azurerm_key_vault</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/key_vault_access_policy.html">azurerm_key_vault_access_policy</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/key_vault_certificate.html">azurerm_key_vault_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/key_vault_key.html">azurerm_key_vault_key</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/key_vault_secret.html">azurerm_key_vault_secret</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Data Explorer Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/kusto_cluster.html">azurerm_kusto_cluster</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Load Balancer Resources</a>
              <ul class="nav">
                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer.html">azurerm_lb</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_rule.html">azurerm_lb_rule</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_outbound_rule.html">azurerm_lb_outbound_rule</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_rule.html">azurerm_lb_nat_rule</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_pool.html">azurerm_lb_nat_pool</a>
                  </li>

                  <li>
                    <a href="/docs/providers/azurerm/r/loadbalancer_probe.html">azurerm_lb_probe</a>
                  </li>
              </ul>
            </li>

            <li>
              <a href="#">Log Analytics Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/log_analytics_linked_service.html">azurerm_log_analytics_linked_service</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/log_analytics_solution.html">azurerm_log_analytics_solution</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/log_analytics_workspace.html">azurerm_log_analytics_workspace</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/log_analytics_workspace_linked_service.html">azurerm_log_analytics_workspace_linked_service</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Logic App Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_action_custom.html">azurerm_logic_app_action_custom</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_action_http.html">azurerm_logic_app_action_http</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_custom.html">azurerm_logic_app_trigger_custom</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_http_request.html">azurerm_logic_app_trigger_http_request</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_recurrence.html">azurerm_logic_app_trigger_recurrence</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/logic_app_workflow.html">azurerm_logic_app_workflow</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Management Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/management_lock.html">azurerm_management_lock</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/management_group.html">azurerm_management_group</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Maps Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/maps_account.html">azurerm_maps_account</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Media Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/media_services_account.html">azurerm_media_services_account</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Messaging Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/eventgrid_domain.html">azurerm_eventgrid_domain</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventgrid_event_subscription.html">azurerm_eventgrid_event_subscription</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventgrid_topic.html">azurerm_eventgrid_topic</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventhub.html">azurerm_eventhub</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventhub_authorization_rule.html">azurerm_eventhub_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventhub_consumer_group.html">azurerm_eventhub_consumer_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace_authorization_rule.html">azurerm_eventhub_namespace_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/iot_dps.html">azurerm_iot_dps</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/iot_dps_certificate.html">azurerm_iot_dps_certificate</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/iothub.html">azurerm_iothub</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/iothub_consumer_group.html">azurerm_iothub_consumer_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/iothub_shared_access_policy.html">azurerm_iothub_shared_access_policy</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/notification_hub.html">azurerm_notification_hub</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/notification_hub_authorization_rule.html">azurerm_notification_hub_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/notification_hub_namespace.html">azurerm_notification_hub_namespace</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/relay_namespace.html">azurerm_relay_namespace</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace_authorization_rule.html">azurerm_servicebus_namespace_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_queue.html">azurerm_servicebus_queue</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_queue_authorization_rule.html">azurerm_servicebus_queue_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription.html">azurerm_servicebus_subscription</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription_rule.html">azurerm_servicebus_subscription_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_topic.html">azurerm_servicebus_topic</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/servicebus_topic_authorization_rule.html">azurerm_servicebus_topic_authorization_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/signalr_service.html">azurerm_signalr_service</a>
                </li>
              </ul>
            </li>


            <li>
              <a href="#">Monitor Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/autoscale_setting.html">azurerm_autoscale_setting</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_action_group.html">azurerm_monitor_action_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_activity_log_alert.html">azurerm_monitor_activity_log_alert</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/monitor_autoscale_setting.html">azurerm_monitor_autoscale_setting</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_diagnostic_setting.html">azurerm_monitor_diagnostic_setting</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_log_profile.html">azurerm_monitor_log_profile</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_metric_alert.html">azurerm_monitor_metric_alert</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/monitor_metric_alertrule.html">azurerm_monitor_metric_alertrule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/metric_alertrule.html">azurerm_metric_alertrule</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Network Resources</a>
              <ul class="nav">

                <li>
                  <a href="/docs/providers/azurerm/r/application_gateway.html">azurerm_application_gateway</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/application_security_group.html">azurerm_application_security_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/connection_monitor.html">azurerm_connection_monitor</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_connection_monitor.html">azurerm_network_connection_monitor</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/ddos_protection_plan.html">azurerm_ddos_protection_plan</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_ddos_protection_plan.html">azurerm_network_ddos_protection_plan</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/express_route_circuit_authorization.html">azurerm_express_route_circuit_authorization</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/express_route_circuit_peering.html">azurerm_express_route_circuit_peering</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/firewall.html">azurerm_firewall</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/firewall_application_rule_collection.html">azurerm_firewall_application_rule_collection</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/firewall_nat_rule_collection.html">azurerm_firewall_nat_rule_collection</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/firewall_network_rule_collection.html">azurerm_firewall_network_rule_collection</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/local_network_gateway.html">azurerm_local_network_gateway</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_interface.html">azurerm_network_interface</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_interface_application_gateway_backend_address_pool_association.html">azurerm_network_interface_application_gateway_backend_address_pool_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_interface_application_security_group_association.html">azurerm_network_interface_application_security_group_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_interface_backend_address_pool_association.html">azurerm_network_interface_backend_address_pool_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_interface_nat_rule_association.html">azurerm_network_interface_nat_rule_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_profile.html">azurerm_network_profile</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_security_rule.html">azurerm_network_security_rule</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_watcher.html">azurerm_network_watcher</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/packet_capture.html">azurerm_packet_capture</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/network_packet_capture.html">azurerm_network_packet_capture</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/public_ip.html">azurerm_public_ip</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/public_ip_prefix.html">azurerm_public_ip_prefix</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/route.html">azurerm_route</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/route_table.html">azurerm_route_table</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/subnet.html">azurerm_subnet</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/subnet_network_security_group_association.html">azurerm_subnet_network_security_group_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/subnet_route_table_association.html">azurerm_subnet_route_table_association</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/traffic_manager_endpoint.html">azurerm_traffic_manager_endpoint</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/traffic_manager_profile.html">azurerm_traffic_manager_profile</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_network_gateway.html">azurerm_virtual_network_gateway</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_network_gateway_connection.html">azurerm_virtual_network_gateway_connection</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/virtual_network_peering.html">azurerm_virtual_network_peering</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/web_application_firewall_policy.html">azurerm_web_application_firewall_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-wan") %>>
                  <a href="/docs/providers/azurerm/r/virtual_wan.html">azurerm_virtual_wan</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Policy Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/policy_assignment.html">azurerm_policy_assignment</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/policy_definition.html">azurerm_policy_definition</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/policy_set_definition.html">azurerm_policy_set_definition</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Private DNS Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/private_dns_zone.html">azurerm_private_dns_zone</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/private_dns_a_record.html">azurerm_private_dns_a_record</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/r/private_dns_cname_record.html">azurerm_private_dns_cname_record</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Recovery Services</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/recovery_services_protection_policy_vm.html">azurerm_recovery_services_protection_policy_vm</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/recovery_services_protected_vm.html">azurerm_recovery_services_protected_vm</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/recovery_services_vault.html">azurerm_recovery_services_vault</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Redis Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/redis_cache.html">azurerm_redis_cache</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/redis_firewall_rule.html">azurerm_redis_firewall_rule</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Scheduler Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/scheduler_job_collection.html">azurerm_scheduler_job_collection</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/scheduler_job.html">azurerm_scheduler_job</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Search Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/search_service.html">azurerm_search_service</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Security Center Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/security_center_contact.html">azurerm_security_center_contact</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/security_center_subscription_pricing.html">azurerm_security_center_subscription_pricing</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/security_center_workspace.html">azurerm_security_center_workspace</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Service Fabric Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/service_fabric_cluster.html">azurerm_service_fabric_cluster</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Stream Analytics Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_job.html">azurerm_stream_analytics_job</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_function_javascript_udf.html">azurerm_stream_analytics_function_javascript_udf</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_blob.html">azurerm_stream_analytics_output_blob</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_mssql.html">azurerm_stream_analytics_output_mssql</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_eventhub.html">azurerm_stream_analytics_output_eventhub</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_servicebus_queue.html">azurerm_stream_analytics_output_servicebus_queue</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_blob.html">azurerm_stream_analytics_stream_input_blob</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_eventhub.html">azurerm_stream_analytics_stream_input_eventhub</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_iothub.html">azurerm_stream_analytics_stream_input_iothub</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Storage Resources</a>
              <ul class="nav">

                <li>
                  <a href="/docs/providers/azurerm/r/storage_account.html">azurerm_storage_account</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_blob.html">azurerm_storage_blob</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_container.html">azurerm_storage_container</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_queue.html">azurerm_storage_queue</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_share.html">azurerm_storage_share</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_share_directory.html">azurerm_storage_share_directory</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_table.html">azurerm_storage_table</a>
                </li>

                <li>
                  <a href="/docs/providers/azurerm/r/storage_table_entity.html">azurerm_storage_table_entity</a>
                </li>

              </ul>
            </li>

            <li>
              <a href="#">Template Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azurerm/r/template_deployment.html">azurerm_template_deployment</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
