---
name: Go Test with Debug Trace

permissions:
  contents: read
  pull-requests: read

on:
  workflow_dispatch:

concurrency:
  # Some events do not have a `head_ref`. Fall back to `run_id`.
  # Reference: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#example-using-a-fallback-value-1
  group: '${{ github.workflow }}-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  test:
    runs-on: custom-linux-xl
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          # TODO: go.mod will be the default in a future release of setup-go https://github.com/actions/setup-go/pull/705
          cache-dependency-path: go.mod
          go-version-file: ./.go-version

      - name: '[Diagnostic] Report Go module cache and build cache disk usage'
        run: 'du -h -d 0 $(go env GOMODCACHE) $(go env GOCACHE) || true'

      - name: Run tests
        run: |
          go test -debug-trace=debug-trace.out -debug-actiongraph=debug-actiongraph.dot \
             -timeout=30s -parallel=32 \
             -run='^Test[^A][^c][^c]' \
             ./...

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: out
          path: |
            debug-actiongraph.dot
            debug-trace.out
          retention-days: 7
