---
name: Preview ARM API Version Linter

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    types: ["opened", "synchronize"]
    paths:
      - ".github/workflows/preview-api-version-linter.yaml"
      - "internal/tools/preview-api-version-linter/**"
      - "vendor/**"

jobs:
  preview-api-version-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: ./.go-version
      - run: go run internal/tools/preview-api-version-linter/main.go
  comment-on-fail:
    needs: preview-api-version-linter
    if: ${{ failure() }}
    uses: ./.github/workflows/comment-failure.yaml
