---
name: Resource Linting tests

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    types: ["opened", "synchronize"]
    paths:
      - ".github/workflows/resource-lint-test.yaml"
      - "internal/tools/resource-lint/**"
    branches: ["main"]

jobs:
  resource-lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
            go-version-file: 'go.mod'
      # Prevent GOPROXY=off errors for analysistest
      - name: Download modules for analysistest
        run: |
          cd internal/tools/resource-lint/passes/testdata
          go mod download
      - name: Run resource-lint tests
        run: go test ./internal/tools/resource-lint/passes/...
