---
name: Terraform Schema Linting

permissions:
  contents: read

on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/workflows/tflint.yaml'
      - 'vendor/**'
      - '**.go'

concurrency:
  group: 'tflint-${{ github.head_ref }}'
  cancel-in-progress: true

jobs:
  tflint:
    runs-on: custom-linux-medium
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: ./.go-version
      - run: bash scripts/gogetcookie.sh
      - run: make tools
      - run: make tflint
  save-artifacts-on-fail:
    if: ${{ needs.tflint.result }} == 'failure'
    uses: ./.github/workflows/save-artifacts.yaml
  comment-on-fail:
    if: ${{ needs.depscheck.result }} == 'failure'
    uses: ./.github/workflows/comment-failure.yaml
